[Desktop Entry]
Name=Alacritty
Comment=A modern terminal emulator
Exec=alacritty
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
